USE [master]
GO
/****** Object:  Database [YourPEL]    Script Date: 05/01/2018 10:24:23 ******/
CREATE DATABASE [YourPEL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'YourPEL', FILENAME = N'D:\Programas\MicrosoftSQLServer\MSSQL14.SQLEXPRESS\MSSQL\DATA\YourPEL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'YourPEL_log', FILENAME = N'D:\Programas\MicrosoftSQLServer\MSSQL14.SQLEXPRESS\MSSQL\DATA\YourPEL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [YourPEL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [YourPEL]
GO
USE [YourPEL]
GO
/****** Object:  Table [dbo].[ARTIGO]    Script Date: 05/01/2018 10:24:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ARTIGO](
	[idArtigo] [int] IDENTITY(1,1) NOT NULL,
	[dataHora] [datetime2](7) NOT NULL,
	[autor] [nvarchar](30) NOT NULL,
	[titulo] [nvarchar](50) NOT NULL,
	[texto] [text] NOT NULL,
	[ordemRelevancia] [int] NOT NULL,
	[idPagina] [int] NOT NULL,
	[tema] [nvarchar](50) NULL,
	[subTema] [nvarchar](50) NULL,
	[ativo] [bit] NULL,
	[urlVideo] [nvarchar](max) NULL,
	[urlFoto] [nvarchar](max) NULL,
 CONSTRAINT [PK_ARTIGO] PRIMARY KEY CLUSTERED 
(
	[idArtigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCGAL]    Script Date: 05/01/2018 10:24:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCGAL](
	[idDocumento] [int] NOT NULL,
	[idGDocumento] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCUMENTO]    Script Date: 05/01/2018 10:24:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCUMENTO](
	[idDocumento] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](50) NOT NULL,
	[descricao] [nvarchar](max) NOT NULL,
	[url] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_DOCUMENTOS] PRIMARY KEY CLUSTERED 
(
	[idDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EVENTO]    Script Date: 05/01/2018 10:24:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENTO](
	[idEvento] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](50) NOT NULL,
	[local] [nvarchar](max) NOT NULL,
	[descricao] [nvarchar](max) NOT NULL,
	[dataHora_Inicial] [datetime2](7) NOT NULL,
	[dataHora_Final] [datetime2](7) NOT NULL,
	[localCoordenadas] [geography] NOT NULL,
 CONSTRAINT [PK_Eventos] PRIMARY KEY CLUSTERED 
(
	[idEvento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GDOCUMENTO]    Script Date: 05/01/2018 10:24:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GDOCUMENTO](
	[idGDocumentos] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_GDOCUMENTO] PRIMARY KEY CLUSTERED 
(
	[idGDocumentos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGINA]    Script Date: 05/01/2018 10:24:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGINA](
	[idPagina] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [nvarchar](20) NOT NULL,
	[descricao] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_PAGINA] PRIMARY KEY CLUSTERED 
(
	[idPagina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POST]    Script Date: 05/01/2018 10:24:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POST](
	[ID_POST] [int] IDENTITY(1,1) NOT NULL,
	[TITULO] [nvarchar](100) NOT NULL,
	[TEXTO] [text] NOT NULL,
	[DATA_HORA] [date] NOT NULL,
	[TEMA] [nvarchar](50) NOT NULL,
	[ATIVO] [bit] NOT NULL,
 CONSTRAINT [PK_POST] PRIMARY KEY CLUSTERED 
(
	[ID_POST] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESPOSTA]    Script Date: 05/01/2018 10:24:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESPOSTA](
	[ID_RESPOSTA] [int] IDENTITY(1,1) NOT NULL,
	[TEXTO] [text] NOT NULL,
	[DATA_HORA] [date] NOT NULL,
	[ID_UTILIZADOR] [int] NOT NULL,
	[ID_POST] [int] NOT NULL,
 CONSTRAINT [PK_RESPOSTA] PRIMARY KEY CLUSTERED 
(
	[ID_RESPOSTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UTILIZADOR]    Script Date: 05/01/2018 10:24:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UTILIZADOR](
	[ID_UTILIZADOR] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](32) NOT NULL,
	[TIPO] [char](1) NOT NULL,
 CONSTRAINT [PK_UTILIZADOR] PRIMARY KEY CLUSTERED 
(
	[ID_UTILIZADOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ARTIGO]  WITH CHECK ADD  CONSTRAINT [FK_ARTIGO_ARTIGO] FOREIGN KEY([idPagina])
REFERENCES [dbo].[PAGINA] ([idPagina])
GO
ALTER TABLE [dbo].[ARTIGO] CHECK CONSTRAINT [FK_ARTIGO_ARTIGO]
GO
ALTER TABLE [dbo].[DOCGAL]  WITH CHECK ADD  CONSTRAINT [FK_Table_1_DOCUMENTO] FOREIGN KEY([idDocumento])
REFERENCES [dbo].[DOCUMENTO] ([idDocumento])
GO
ALTER TABLE [dbo].[DOCGAL] CHECK CONSTRAINT [FK_Table_1_DOCUMENTO]
GO
ALTER TABLE [dbo].[DOCGAL]  WITH CHECK ADD  CONSTRAINT [FK_Table_1_GDOCUMENTO] FOREIGN KEY([idGDocumento])
REFERENCES [dbo].[GDOCUMENTO] ([idGDocumentos])
GO
ALTER TABLE [dbo].[DOCGAL] CHECK CONSTRAINT [FK_Table_1_GDOCUMENTO]
GO
USE [master]
GO
